* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
background-color: #0a0a0a;
color: white;
font-family: Arial, sans-serif;
}

/* Menu */

nav {
background-color: #151515;
padding: 18px 30px;

display: flex;
justify-content: center;
align-items: center;

border-bottom: 1px solid #333;

min-height: 70px;

}

/* Logo */

.logo {
position: absolute;
left: 30px;

color: white;
background-color: #e32626;

padding: 10px 12px;
border-radius: 5px;

font-weight: bold;
font-size: 18px;

transition: 0.3s;

}

.logo:hover {
background-color: #ff3333;
transform: scale(1.05);
}

/* Menu central */

.menu {
display: flex;
align-items: center;
}

.menu a {
color: #cccccc;
text-decoration: none;

margin: 0 18px;
font-size: 16px;

position: relative;
padding: 8px 0;

transition: 0.3s;

}

.menu a:hover {
color: white;
}

/* Linha vermelha */

.menu a::after {
content: "";

position: absolute;
left: 0;
bottom: 0;

width: 0;
height: 2px;

background-color: #e32626;

transition: 0.3s;

}

.menu a:hover::after {
width: 100%;
}

/* Item ativo */

.menu a.ativo {
color: white;
}

.menu a.ativo::after {
width: 100%;
}

/* Login */

.login {
position: absolute;
right: 30px;

display: flex;
align-items: center;

}

.login a {
color: #dddddd;
text-decoration: none;

margin-left: 15px;

transition: 0.3s;

}

.login a:hover {
color: white;
}

/* Botão Entrar */

.login .entrar {
background-color: #e32626;
color: white;

padding: 9px 15px;
border-radius: 5px;

}

.login .entrar:hover {
background-color: #ff3333;
transform: scale(1.05);
}

/* ========================= */
/* CELULAR */
/* ========================= */

@media (max-width: 700px) {

nav {
    padding: 15px;
    min-height: auto;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Logo */

.logo {
    position: static;

    padding: 8px 12px;
    font-size: 17px;
}

/* Menu */

.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 10px;
}

.menu a {
    margin: 0 5px;
    font-size: 14px;
}

/* Login */

.login {
    position: static;

    display: flex;
    justify-content: center;
    gap: 10px;
}

.login a {
    margin-left: 0;
    font-size: 14px;
}

.login .entrar {
    padding: 8px 13px;
}

}